/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');  */

:root {
  --primary-color-light: #faf4ea;
  --primary-color-dark: #31261a;
  --primary-color-green: #819b57;
  --secondary-color-green: #465929;
  --secondary-color-dark: #a18268;
  --secondary-color-ligth: #cfcfbc;
}

/* base */

* {
  box-sizing: border-box;
}

body {
  color: var(--primary-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--primary-color-light);
  background-color: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  color: var(--secondary-color-green);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--primary-color-light);
  text-decoration: none;
  line-height: 1.5;
}

.link:hover {
  color: var(--primary-color-green);
  font-weight: 600;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--secondary-color-green);
}

/* Header */

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image: url('../images/couple-in-bakery.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-bottom: 0;
  color: var(--primary-color-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--primary-color-green);
}

/* Advantage section */

.advantage-section {
  padding: 16px 16px;
  background-color: var(--primary-color-green);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--primary-color-light);
}

.advantage-item {
  font-size: 20px;
  font-weight: 300;
}

/* Tradition section */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.tradition-title {
  margin-bottom: 42px;
}

.tradition-text span {
  color: var(--primary-color-green);
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

.tradition-text.limited {
  max-width: 330px;
}

/* Chefs section */

.chef-title {
  margin-bottom: 80px;
}
.chefs-title {
  font-style: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Format section */

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color-light);
}

.format-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.format-text {
  color: var(--primary-color-light);
  font-size: 14px;
  font-weight: 300;
}

.format-card {
  padding: 24px 24px;
  border: 1px solid gray;
  border-radius: 16px;
}
.formats-item {
  flex-basis: calc((100%-40px) / 3);
}

/* Contact section */

.contact-title {
  margin-bottom: 16px;
}

.contact-text {
  color: var(--secondary-color-green);
}

/* Footer */

.addres-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-color-light);
}

.addres-link:hover {
  color: var(--primary-color-green);
  text-decoration: none;
}
.addres-copyright {
  font-style: 14px;
}
