/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');  */

:root {
  --primary-color-light: #faf4ea;
  --primary-color-dark: #31261a;
  --primary-color-green: #819b57;
  --secondary-color-green: #465929;
  --secondary-color-dark: #a18268;
  --secondary-color-light: #cfcfbc;
}

/* base */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color-light);
  color: var(--primary-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--primary-color-light);
  background-color: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  color: var(--secondary-color-green);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--primary-color-light);
  text-decoration: none;
  line-height: 1.5;
  transition: color 0.3s;
}

.link:hover {
  color: var(--primary-color-green);
  font-weight: 600;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--secondary-color-green);
}

/* Header */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 96.36%
    ),
    url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: var(--primary-color-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--primary-color-green);
}

/* Advantage section */

.advantage-section {
  padding: 16px 16px;
  background-color: var(--primary-color-green);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--primary-color-light);
}

.advantage-item {
  font-size: 20px;
  font-weight: 300;
}

/* Tradition section */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.tradition-title {
  margin-bottom: 42px;
}

.tradition-text span {
  color: var(--primary-color-green);
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

.tradition-text.limited {
  max-width: 330px;
}

/* Chefs section */

.chef-title {
  position: relative;
  margin: 0 auto 80px;
}

.chef-title::after {
  right: 0;
}

.chef-title::before {
  left: 0;
}

.chef-title::after,
.chef-title::before {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: solid 2px var(--secondary-color-ligth);
  content: '';
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primary-color-light),
    -16px 16px 0 2px var(--secondary-color-dark);
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Format section */

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color-light);
}

.formats-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.format-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.format-text {
  color: var(--primary-color-light);
  font-size: 14px;
  font-weight: 300;
}

.format-card {
  height: 444px;
  width: 349px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--primary-color-dark) 100%
  );
  padding: 24px 24px;
  border: 1px solid gray;
  border-radius: 16px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.carousel-btn {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--primary-color-dark);
  border: solid 1px var(--primary-color-dark);
  padding: 0;
  cursor: pointer;
}

.carousel-btn:hover {
  background-color: var(--primary-color-dark);
  fill: var(--primary-color-light);
}
.carousel-btn.prev {
  transform: rotate(180deg);
}

/* Contact section */

.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
}
.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}

.contact-text {
  color: var(--secondary-color-green);
}

/* Footer */

.footer {
  position: relative;
  background-color: var(--primary-color-dark);
  background-image: url('../images/footer-bacground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url('..//images/Decor-bread-small.png');
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url('../images/Decor-bread-big.png');
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
  gap: 20px;
}

.footer-adress {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-list {
  flex-grow: 1;
}

.adress-info {
  flex-grow: 1;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-color-light);
}

.address-link:hover {
  color: var(--primary-color-green);
  text-decoration: none;
}
.address-copyright {
  font-size: 14px;
}

.address-icon {
  fill: var(--primary-color-light);
}

.address-icon:hover {
  fill: var(--primary-color-green);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--primary-color-light);
  border-radius: 32px;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* Form */

.form-field {
  margin-bottom: 32px;
}

.form-lable {
  display: block;
}

.form-input {
  padding: 16px 42px;
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  border: 1px solid var(--secondary-color-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--primary-color-green);
  outline: none;
}

.form-input::placeholder {
  color: var(--secondary-color-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--primary-color-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}
.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.form-terms-link {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--primary-color-dark);
  text-underline-offset: 2px;
}
